.container{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100vh;
}

.card{
    background-color: teal;
    width: 200px;
    height: 200px;
    border: 1px solid red;
}

.card{
    transition: 300ms ease-in-out;
}

.card + .card {
    margin-left: -10%;
}

.card:hover{
    transform: rotate(-4deg);
}

.card:hover ~ .card {
    z-index: 1;
    translate: 60px;
}